name: Software-Engineering CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
        echo "Build Start!@XPY"
        mvn compile
        echo "Build成功!@谢朋洋"
          
          
  test:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
        echo "Test Start!@XPY"
        mvn test
        echo "Test成功!@谢朋洋"
        
